html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', sans-serif;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
}

.center {
    width: 80%;
    height: calc(100% - 50px);
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    align-items: center;
    font-size: 18px;
    overflow: auto;
}

.enter-info {
    font-size: 50px;
    text-decoration: bold;
}

.autosaved,
.donate {
    font-size: 14px;
    text-decoration: italic;
    margin: 10px;
}

table {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

tr,
th {
    text-align: left;
}

th {
    cursor: pointer;
}

.logo {
    width: 110px;
    height: auto;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.feedback {
    color: darkgrey;
    font-size: 21px;
}

.big {
    font-size: 1.2em;
}

button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a,
a:visited,
a:hover,
.payment-page-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

#PAYMENT_LINK2 {
    font-size: 30px;
}

.important {
    color: darkred;
    font-weight: bold;
}

.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

button:disabled,
button[disabled] {
    background-color: lightgrey;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: not-allowed;
}