// Ignoring the AC script
AC.js

//Ignoring benchmarking scripts
benchmark.js

//Ignoring deprecated scripts
SDBPricerFeature.js
inject.js
.idea
sdbpricer.js
sdbduper.js
minimizedSDB.html
better_quick_stock.user.js
searchcode.bat
*- Copy*