html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', sans-serif;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
}

.center {
    width: 80%;
    height: calc(100vh - 50px);
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    align-items: center;
    font-size: 18px;
    overflow: auto;
}

.center::-webkit-scrollbar {
    width: 0.5em;
}
  
/* Track */
.center::-webkit-scrollbar-track {
    background: transparent;
}
  
.center::-webkit-scrollbar-thumb:hover {
    background-color: transparent; /* Set to the desired color */
}

.enter-info {
	margin-top: 30px;
    font-size: 100px;
	font-weight: bold;
    color: #2196F3;
    font-family: 'Cafeteria', sans-serif;
}

.rarity-info{
    font-size: 20px;
    margin-bottom: 30px;
    color: #2196F3;
    text-decoration: italic;
    font-family: 'Cafeteria', sans-serif;
}

.autosaved,
.donate {
    font-size: 14px;
    text-decoration: italic;
    margin: 10px;
}

.feedback {
    color: darkgrey;
    font-size: 21px;
}

.button {
    margin: 0px 50px; /* Add space to the top and bottom, and center horizontally */    
    width: 15%;
    height: 40px;
    border-radius: 20px;
    background: #2196F3;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: 'Cafeteria', sans-serif;
    font-size: 20px;
}

.reset {
    display: flex;
    margin: 20px 0 20px;
    padding: 0;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    background: #2196F3;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: none;
}

.page-navigation {
    font-family: 'Cafeteria', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.loading {
    font-family: 'Cafeteria', sans-serif;
    font-size: 20px;
}

.class-JellyNeo {
    width: 20px;
}

.class-DateTime {
    width: 100px;
}