/*CUSTOM CSS*/
@font-face {
    font-family: 'Cafeteria';
    src: local('Cafeteria'), url('../fonts/Cafeteria Bold.otf') format('truetype');
}


.logo {
    position: absolute;
    vertical-align: middle;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    padding-right: 30px;
}

/* Set the background color of the top bar */
.toolbar {
    background-color: #03a9f4;
    background-image: url(pattern-basic.svg);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.toolbar a {
    font-size: 20px;
    text-decoration: none;
    color: white !important;
    margin: 0 10px;
    font-family: 'Cafeteria', sans-serif;
}

.toolbar-text img {
    max-width: 24px;
    height: auto;
    margin: 0 2px;
    vertical-align: middle;
}

.toolbar-icon, .dropdown-icon {
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
}

.toolbar-category:hover .toolbar-icon {
    transform: rotate(-20deg);
    transition: transform 0.2s ease-in-out infinite;
}

.dropdown-category:hover .dropdown-icon {
    transform: rotate(-20deg);
    transition: transform 0.2s ease-in-out infinite;
}


/* Set the background color of the top bar */
.toolbar-bottom {
    background-color: #03a9f4;
    background-image: url(pattern-basic.svg);
    text-align: center;
    font-weight: bold;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
}

.notice-text {
    font-size: 10px;
    color: white;
    font-family: "MuseoSansRounded700", 'Arial Bold', sans-serif;
}

.version-text {
    position: absolute;
    right: 0.5%;
    bottom: 5%;
    font-size: 15px;
    color: white;
    font-family: "Cafeteria", 'Arial Bold', sans-serif;
}

.gh-btn{
    padding: 2px 5px 2px 4px;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;

    font-family: 'Cafeteria', sans-serif;
    background-color: #eee;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fcfcfc),to(#eee));
    background-image: linear-gradient(to bottom,#fcfcfc 0,#eee 100%);
    background-repeat: no-repeat;
    border: 1px solid #d5d5d5;

    font-size: 16px;
    line-height: 22px;

    float: right;
}

.gh-btn:hover {
    animation: bounce 0.2s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-8deg);
    }
}

.gh-ico {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    float: left;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='12 12 40 40'%3e%3cpath fill='%2303a9f4' d='M32 13.4c-10.5 0-19 8.5-19 19 0 8.4 5.5 15.5 13 18 1 .2 1.3-.4 1.3-.9v-3.2c-5.3 1.1-6.4-2.6-6.4-2.6-.9-2.1-2.1-2.7-2.1-2.7-1.7-1.2.1-1.1.1-1.1 1.9.1 2.9 2 2.9 2 1.7 2.9 4.5 2.1 5.5 1.6.2-1.2.7-2.1 1.2-2.6-4.2-.5-8.7-2.1-8.7-9.4 0-2.1.7-3.7 2-5.1-.2-.5-.8-2.4.2-5 0 0 1.6-.5 5.2 2 1.5-.4 3.1-.7 4.8-.7 1.6 0 3.3.2 4.7.7 3.6-2.4 5.2-2 5.2-2 1 2.6.4 4.6.2 5 1.2 1.3 2 3 2 5.1 0 7.3-4.5 8.9-8.7 9.4.7.6 1.3 1.7 1.3 3.5v5.2c0 .5.4 1.1 1.3.9 7.5-2.6 13-9.7 13-18.1 0-10.5-8.5-19-19-19z'/%3e%3c/svg%3e") 0 0/100% 100% no-repeat;
}

.coffee-ico {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    float: left;
    background: url("../toolbar/coffee.svg") 0 0/100% 100% no-repeat;
}

.gh-text{
    color: #03a9f4;
}

.toolbar-category {
    position: relative;
    display: inline-block;
}

.hover-menu {
    display: none;
    position: absolute;
    background-color: #03a9f4; /* Background color for the menu */
    box-shadow: 0 4px 6px #03a8f435; /* Box shadow for the menu */
    width: 150px;
    border-radius: 10%;
}

.toolbar-category:hover .hover-menu {
    display: block;
}

/* Style the list items to remove default list styling */
.hover-menu ul {
    list-style-type: none;
    padding: 0;
}


/* Style the links within list items */
.hover-menu ul li a {
    text-decoration: none;
    color: #000000; /* Adjust the color as needed */
    display: block;
}

.hover-menu .toolbar-category {
    margin: 0 0px 10px;
}

/* Change link color on hover */
.hover-menu ul li a:hover {
    background-color: #24bdf8; /* Adjust the color as needed */
}


.dropdown-arrow {
    transition: transform 0.3s ease-in-out;
    width: 10px;
    transform: rotate(0deg);
}

.toolbar-category:hover .dropdown-arrow {
    animation: flipOnSelection 0.3s ease-in-out;
    transform: rotate(180deg);
}

.gradient-div {
    height: 100%;
    background: linear-gradient(to bottom, transparent, #24bdf8);
}
  
.notification-dot {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%; /* Creates a circular dot */
    bottom: 0;
    right: 0;
    transform: translate(-540%, 10%);
    animation: blink 0.9s infinite;
    display: block;
    visibility: hidden;
}

@keyframes blink{
    0%, 100%{
        opacity: 100%;
        background-color: red;
    } 50% {
        opacity: 30%;
        background-color: rgb(255, 118, 118);
    }
}

.update-notification {
    width: 450px;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Cafeteria', sans-serif;

    /* Position the tooltip */
    position: fixed;
    z-index: 1;
    right: 10px;
    bottom: 55px;
    opacity: 1;
    animation-delay: 0ms;
    animation: slideRight 0.2s ease-out;

    font-size: 20px;
    text-decoration: none;
    color: white !important;
    font-family: 'Cafeteria', sans-serif;
}

.update-notification a {
    text-decoration: none;
    color: white !important;
    font-family: 'Cafeteria', sans-serif;
}

@keyframes slideRight {
    0% {
        visibility: visible;
        right: -300px;
        opacity: 1;
    }
    100% {
        right: 0px;
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        opacity: 1;
        bottom: 55px;
    }
    100% {
        opacity: 0;
        bottom: 100px;
        visibility: hidden;
    }
}

.update-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    width: 20px;
}