html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', sans-serif;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
}

.center {
    width: 80%;
    height: calc(100% - 50px);
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    align-items: center;
    font-size: 18px;
    overflow: auto;
}

.enter-info {
    font-size: 50px;
    text-decoration: bold;
}

.autosaved,
.donate {
    font-size: 14px;
    text-decoration: italic;
    margin: 10px;
}

table {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

tr,
th {
    text-align: left;
}

th {
    cursor: pointer;
}

.logo {
    width: 110px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

/* Set the background color of the top bar */
.banner {
  background-color: #03a9f4;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}

/* Make the text bold and white */
.banner a {
  text-decoration: none;
  color: white !important;
}

/* Make the top bar always stay at the top of the page */
.banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.feedback {
    color: darkgrey;
    font-size: 21px;
}

a,
a:visited,
a:hover,
.payment-page-link {
    color: blue;
    cursor: pointer;
}

.button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

button:disabled,
button[disabled] {
    background-color: lightgrey;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: not-allowed;
}