html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', sans-serif;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.subdued {
    color: grey;
    font-size: 14px;
}

.center {
    width: 100%;
    height: calc(100vh - 90px);
    position: absolute;
    left: 0;
    right: 0;
    top: 15.7%;
    bottom: 15%;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    align-items: center;
    font-size: 18px;
    overflow: auto;
}

.enter-info {
	margin-top: 30px;
    font-size: 100px;
	font-weight: bold;
    color: #2196F3;
    font-family: 'Cafeteria', sans-serif;
}

.subcategory-info{
    font-size: 20px;
    margin: 30px 0 30px 0;
    color: #2196F3;
    text-decoration: italic;
    font-family: 'Cafeteria', sans-serif;
}

.category-info{
    font-size: 20px;
    margin-bottom: 30px;
    color: #2196F3;
    text-decoration: italic;
    font-family: 'Cafeteria', sans-serif;
}

.rarity-info{
    font-size: 20px;
    margin-bottom: 30px;
    color: #2196F3;
    text-decoration: italic;
    font-family: 'Cafeteria', sans-serif;
}

#load {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.faq-question {
    font-size: 25px;
    color: #2196F3;
    text-decoration: italic;
    font-family: 'Cafeteria', sans-serif;
    text-align: left;
    margin-left: 20%;
    margin-bottom: 1%;
    max-width: 60%;
}
  
.faq-answer {
    font-size: 14px;
    font-family: "MuseoSansRounded700", 'Arial Bold', sans-serif;
    text-align: left;
    margin-left: 23%;
    max-width: 55%;
    text-align: justify;
    line-height: 2;
    margin-bottom: 3%;
}
  
.faq-answer:before {
    content: '\2022'; /* Unicode character for a bullet point */
    text-indent: -26px;
    display: inline-block;
    width: 4%;
    color: #2196F3;
}

.gh-btn-star {
    position: absolute;
    left:50%;
}

.autosaved,
.donate {
    font-size: 14px;
    text-decoration: italic;
    margin: 10px;
}

.row {
    margin-top: 10px;
}

input,
textarea,
select {
    border-radius: 15px;
    border-color: #2196F3;
    font-size: 18px;
    font-family: 'Cafeteria', sans-serif;
    color: #2196F3;
}

textarea {
    width: 300px;
}

input {
    width: 120px;
    text-align: center;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

select {
    padding: 10px;
    border: 2px solid #2196F3;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

td .tooltiptext {
    visibility: hidden;
    width: 450px;
    background-color: #2196F3;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Cafeteria', sans-serif;
    opacity: 0.9;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

td:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext a {
    font-size: 20px;
    text-decoration: none;
    color: white !important;
    font-family: 'Cafeteria', sans-serif;
}

.toolbar-bottom {
    z-index: 2;
}

thead {
    border-radius: 10px 10px 0 0;
}

/* Rounded sliders */
.slider.round {
    border-radius: 26px;
}

.slider.round:before {
    border-radius: 50%;
}

.feedback {
    color: darkgrey;
    font-size: 21px;
}

.settings-header {
    margin-top: 40px;
    font-weight: bold;
    color: #2196F3;
}

.shop-type {
    border-radius: 20px 20px 0 0;
}

/* Apply style to table cells */
table td {
    padding: 10px;
    border-top: none;
    text-align: center;
}

b {
    color: #2196F3;
}

.notation {
    color: #2196F3;
    text-decoration: italic;
    font-family: 'Cafeteria', sans-serif;
    padding-left: 7px;
    padding-right: 7px;
}

.loading {
    font-family: 'Cafeteria', sans-serif;
    font-size: 20px;
}