html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', sans-serif;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    overflow: hidden;
}

.subdued {
    color: grey;
    font-size: 14px;
}

.center {
	padding: 0;
    width: 100%;
    height: calc(100vh - 50px);
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 45px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    align-items: center;
    font-size: 18px;
    overflow: auto;
}

.enter-info {
	margin-top: 30px;
    font-size: 100px;
	font-weight: bold;
    color: #2196F3;
    font-family: 'Cafeteria', sans-serif;
}

.category-info{
    font-size: 20px;
    margin-bottom: 30px;
    color: #2196F3;
    text-decoration: italic;
    font-family: 'Cafeteria', sans-serif;
}

.autosaved,
.donate {
    font-size: 14px;
    text-decoration: italic;
    margin: 10px;
}

.row {
    margin-top: 10px;
}

input,
select {
    border-radius: 5px;
    font-size: 18px;
}

.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 125px;
	overflow: hidden;
}

.banner img {
	height: 400%;
	width: auto;
	max-width: 100%;
	object-fit: contain;
	filter: brightness(70%) blur(4px) saturate(80%);
}

.banner h1 {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
}

td .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: darkgrey;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

td:hover .tooltiptext {
    visibility: visible;
}

/* Rounded sliders */
.slider.round {
    border-radius: 26px;
}

.slider.round:before {
    border-radius: 50%;
}

.feedback {
    color: darkgrey;
    font-size: 21px;
}

.settings-header {
    margin-top: 40px;
    font-weight: bold;
    color: #2196F3;
}

.button {
    display: flex;
    margin: 20px 0 20px;
    padding: 0;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    background: #2196F3;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: none;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: white !important;
    font-family: 'Cafeteria', sans-serif;
}

/* Apply style to the entire table */
table {
    border-collapse: collapse;
    width: 75%;
    margin: 0 auto; /* Center align the table */
    table-layout: fixed; /* Prevent the table from adjusting column widths */
}


/* Apply alternating row colors */
table tr:nth-child(odd) td {
    background-color: #f0f0f0;
}

/* Apply style to table headers */
table th, .shop-type {
    background-color: #2196F3;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.shop-type {
    border-radius: 10px 10px 0 0;
}

/* Apply style to table cells */
table td {
    padding: 10px;
    border-top: none;
    text-align: center;
}

.class-Visit {
    width: 1px;
}

.class-Name {
    width: 200px;
}
