/* Apply style to the entire table */
table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
    border-spacing: 0px;
    padding: 30px 0px;
}

/* Apply style to table headers */
table th {
    background-color: #2196F3;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

table tr th:first-child {
    border-radius: 10px 0 0 0;
}

table tr th:last-child {
    border-radius: 0 10px 0 0;
}

/* Apply style to table cells */
table td {
    padding: 10px;
    border-top: none;
    text-align: center;
}

/* Common properties for .button and .reset */
.button,
.reset {
    width: 15%;
    border-radius: 20px;
    background: #2196F3;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: 'Cafeteria', sans-serif;
}

/* Properties specific to .button */
.button {
    margin: 10px 40px; /* Add space to the top and bottom, and center horizontally */    
    height: 40px;
    font-size: 20px;
}

/* Common properties for .button and .reset */
.autobuyerButton {
    width: 15%;
    border-radius: 20px;
    background: #2196F3;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: 'Cafeteria', sans-serif;
    margin: 10px 10px; /* Add space to the top and bottom, and center horizontally */    
    height: 40px;
    font-size: 100%;
}

/* Properties specific to .reset */
.reset {
    display: flex;
    margin: 20px 0 20px;
    padding: 20px;
    width: 500px;
    height: 40px;
    font-size: 14px;
}


/* Customize the scrollbar */
/* Set the width and color of the scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Width of the entire scrollbar */
}

/* Set the background color of the scrollbar track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background: #46acff; /* Color of the thumb */
    border-radius: 6px; /* Rounded corners of the thumb */
}

/* Change the appearance of the scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2196F3;
}

/* Customize the scrollbar buttons (arrows) */
::-webkit-scrollbar-button {
    display: none;
}

/* Apply alternating row colors */
table tr:nth-child(odd) td {
    background-color: #f0f0f0;
}

/* Apply the checked-row class with higher specificity */
table tr.checked-row td {
    background-color: #c0ffb3;
}